<!doctype html>

<html lang="en" >
<head>
	<meta charset="utf-8">
	<title>Kanada 2011 | pictr | showing galleries since 1879</title>

	<!-- Delete these two icon references once you've placed them in the root directory with these file names -->
	<!-- favicon 16x16 -->
	<link rel="shortcut icon" href="/favicon.ico">
	<!-- apple touch icon 57x57 -->
	<link rel="apple-touch-icon" href="/apple-touch-icon.png">

	<!-- embed some nice webfonts -->
	<link href='http://fonts.googleapis.com/css?family=Playfair+Display|Open+Sans&v2' rel='stylesheet' type='text/css'>

	<!-- Main style sheet. Change version number in query string to force styles refresh -->
	<!-- Link element no longer needs type attribute -->
	<link rel="stylesheet" href="css/main.css">
</head>

<body>
</div>
<div class="page_margins">
    <div class="page">
      <nav>
          <ul>
            <li class="active">Kanada 2011</li>
            <li><a href="#">back to gallery</a></li>
            <li><a href="#">back to galleries</a></li>
          </ul>
      </nav>
      <div id="main">
		<figure>
  			<img src="<%= @image_link %>" alt="<%= @caption %>" title="<%= @caption %>">
  			<figcaption><%= @long_caption %></figcaption>
		</figure>
      </div>
      <!-- begin: #footer -->
      <footer>Layout based on <a href="http://www.yaml.de/">YAML</a></footer>
    </div>
  </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<!-- Below is your script file, which has a basic JavaScript design pattern that you can optionally use -->
<!-- Keep this and plugin scripts at the bottom for faster page load; combining and minifying scripts is recommended -->
<script src="js/site.js"></script>
</body>
</html>

